body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: #000;
    display: block;
}
